section.para-types.section.section--material.wow.fadeInUp
    .para-types__head.type-head
        button.type-head__item.tab-item(data-container="tab-rat") Крысы
        button.type-head__item.tab-item(data-container="tab-roach") Тараканы
        button.type-head__item.tab-item(data-container="tab-mouse") Мыши
        button.type-head__item.tab-item(data-container="tab-bug") Клопы
        button.type-head__item.tab-item(data-container="tab-mold") Плесень
        button.type-head__item.tab-item(data-container="tab-smell") Запахи

    .para-types__body.type-body
        .type-body__item.pest-item.tab-container#tab-rat
            .pest-item__left
                .pest-item__text Независимо от принадлежности к тому или иному виду, крысы являются опасными соседями для человека, а их травля и истребление — непростая задача, так как грызуны быстро размножаются, восстанавливая популяцию. Полностью провести уничтожение крыс собственными силами практически невозможно, и чем раньше вы обратитесь за помощью к специалистам, тем быстрее решится проблема.
                button.pest-item__btn.blue-btn(type="button" data-fancybox data-src="#modal-form") Заказать обработку
            .pest-item__right
                img(src="/dist/img/rat.jpg", alt="крыса фото")
        .type-body__item.pest-item.tab-container#tab-roach
            .pest-item__left
                .pest-item__text В нынешнее время уничтожение тараканов приобрело масштабы повсеместной борьбы нередко – с не самым успешным исходом. Причина повального распространения прусаков отчасти заключается в том, что обработка от тараканов перешла из области профессиональных услуг в частные руки, и многие владельцы жилья пользуются сомнительными рыночными средствами. Это не только не приносит результата, но и усугубляет ситуацию.
                button.pest-item__btn.blue-btn(type="button" data-fancybox data-src="#modal-form") Заказать обработку
            .pest-item__right
                img(src="/dist/img/roach.jpg", alt="таракан фото")
        .type-body__item.pest-item.tab-container#tab-mouse
            .pest-item__left
                .pest-item__text Обширность распространения этих грызунов уже приобрела мировые масштабы – миллионы тонн пищевых продуктов ежегодно истребляются и приходят в негодность вследствие жизнедеятельности мышей. Поэтому на межгосударственном уровне были установлены эффективные методы борьбы с крысами, локализация их поголовья и максимальное истребление их отдельных видов.
                button.pest-item__btn.blue-btn(type="button" data-fancybox data-src="#modal-form") Заказать обработку
            .pest-item__right
                img(src="/dist/img/mouse.jpg", alt="мышь фото")
        .type-body__item.pest-item.tab-container#tab-bug
            .pest-item__left
                .pest-item__text Будучи мелкими насекомыми, клопы доставляют отнюдь не мелкие проблемы владельцам жилья. Борьба с ними ведется веками, но они кажутся практически неистребимыми. Их колонии разрастаются как снежный ком, и дальнейшее соседство кажется почти неизбежным.
                button.pest-item__btn.blue-btn(type="button" data-fancybox data-src="#modal-form") Заказать обработку
            .pest-item__right
                img(src="/dist/img/bug.jpg", alt="клоп фото")
        .type-body__item.pest-item.tab-container#tab-mold
            .pest-item__left
                .pest-item__text Профессиональная борьба с грибком и плесенью. Комплексная обработка от плесени надолго уничтожит все грибковые микроорганизмы и условия для их размножения. Мы проводим дезинфекцию плесени в квартирах, магазинах, ресторанах, на объектах малого, среднего и крупного бизнеса. По договору предоставляется бесплатная гарантия, наши цены и гибкая система скидок удовлетворят любого клиента.
                button.pest-item__btn.blue-btn(type="button" data-fancybox data-src="#modal-form") Заказать обработку
            .pest-item__right
                img(src="/dist/img/mold.jpg", alt="плесень фото")
        .type-body__item.pest-item.tab-container#tab-smell
            .pest-item__left
                .pest-item__text Это один из самых неприятных запахов, отличающийся также высочайшей стойкостью. Устранить запах разложения при помощи дезодорантов или тщательной уборки с применением специальных моющих средств не удается. Виной всему тиолы, или, по другому определению, меркаптаны. Это химические соединения с содержанием серы, которые образуются при разложении белков.
                button.pest-item__btn.blue-btn(type="button" data-fancybox data-src="#modal-form") Заказать обработку
            .pest-item__right
                img(src="/dist/img/smells.jpg", alt="запах фото")
