section.prices.section.section--material.section--expandable.wow.fadeInUp#prices
    h2.certificates__title.section__title Наши цены
    .section__subtitle Подробная информация
    .prices__body.section__body
        .price-nav.tab-header
            button.price-nav__item.tab-item(type="button" data-container="tab-price1") Для Физических Лиц
            button.price-nav__item.tab-item(type="button" data-container="tab-price2") Для Юридических Лиц
        .price-table.tab-content
            table.price-table__item.tab-container2#tab-price1
                tr
                    th Площадь обработки
                    th Тараканы
                    th Клопы
                    th Мыши
                    th Крысы
                    th Плесень
                    th Запахи
                tr
                    th Комната
                    td 900
                    td 900
                    td 900
                    td 900
                    td 900
                    td 900
                tr
                    th Гостинка
                    td 900
                    td 900
                    td 900
                    td 900
                    td 900
                    td 900
                tr
                    th 1 комн. квартира
                    td 1200
                    td 1200
                    td 1200
                    td 1200
                    td 1200
                    td 1200
                tr
                    th 2 комн. квартира
                    td 1500
                    td 1500
                    td 1500
                    td 1500
                    td 1500
                    td 1500
                tr
                    th 3 комн. квартира
                    td 1700
                    td 1700
                    td 1700
                    td 1700
                    td 1700
                    td 1700
            table.price-table__item.tab-container2#tab-price2
                tr
                    th Площадь обработки
                    td(rowspan=6) Цена договорная
                tr
                    th До 100м2
                tr
                    th До 200м2
                tr
                    th До 300м2
                tr
                    th До 400м2
                tr
                    th До 500м2
    .expand-btn
        button.blue-btn.order-btn(type="button" data-fancybox data-src="#modal-form") Заказать
        button.blue-btn.js-expand(type="button") Открыть список