// FONTS
$font-path: '/template/fonts/';

@font-face {
    font-family: 'Montserrat';
    src: url($font-path + 'Montserrat-Bold.woff2') format('woff2'),
        url($font-path + 'Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url($font-path + 'Roboto-Regular.woff2') format('woff2'),
        url($font-path + 'Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url($font-path + 'Roboto-Bold.woff2') format('woff2'),
        url($font-path + 'Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}