// variables

//mixins
@mixin dFirst($size) {
    @media (max-width: $size + px) {
        @content;
    }
}
@mixin mFirst($size) {
    @media (min-width: $size + px) {
        @content;
    }
}
$dist: '/dist';

//main-colors
$blue: #5FA3F4;
$black1: #1D3C45;
$black2: #25282D;
$gray: #858891;

//social-colors
$vk-color: #4a76a8;
$fb-color: #3b5998;
$insta-color: #c32aa3;
$youtube-color: #ff0000;
$twitter-color: #1da1f2;
$telegram-color: #2CA5E0;
$github-color: #000000;

